.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
i amm the only one
.logo.img {

    width: 33%;
    border-radius: 50%;
    padding-right: 50px;
}

.nav-list {
    width: 100%;
    background-color: rgb(42, 43, 23);
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-list li {
    list-style: none;
    padding: 20px 26px;
}

.nav-list li a {
    text-decoration: none;
    color: lightskyblue;
    text-align: right;
    
}

.nav-list li a:hover {
    text-decoration: none;
    color: rgb(151, 67, 59);
}

  /* dropdown work */

  .dropbtn {
    background-color: rgb(42, 43, 23);
    color: lightskyblue;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position:absolute;
    background-color: #000000;
    min-width: 117px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content-login{
    display: none;
    position:absolute;
    background-color: #000000;
    min-width: 117px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown-content-login a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown:hover .dropdown-content {display:list-item;}
  .dropdown:hover .dropdown-content-login {display:list-item;}
  
